<% provide(:title, 'Home') %>
<div class="container container-posts">
	<div class="headline">
	    NYHETER
	</div>
	<div class="content">
	    <%= render 'shared/posts' %>
	</div>
</div>

<div style="width: 200px; float: right;">
<div class="container container-info">
	<div class="headline">
	    INFO
	</div>
	<div class="content">
	    <div class="box box-info-faq">
	    	Anmälan för dÅre <%= @project.year %> öppnar tisdagen den 31 oktober 20:00 här på hemsidan!
	    	<br><br>
	    	Just nu finns det <b><%= (@project.spots - @project.registrations.find(:all, :conditions => { :reserve => false }).count) %> platser kvar</b>, <%= @project.registrations.find(:all, :conditions => { :reserve => true }).count %> resenärer står på <a href="/projects/<%= @project.id %>/reserves">reservlistan</a>.
	    	<br><br>
	    	Observera att vi ställer anmälan i kön som reserv vid försenad inbetalning av anmälningsavgiften.
	    	<hr>
	    	The registration for <%= @project.year %> will open Tuesday Oktober 31 at 20:00 on this website! You register by pressing the "Anmäl Dig" button above.
	    	<br><br>
	    	Right now there are <b><%= (@project.spots - @project.registrations.find(:all, :conditions => { :reserve => false }).count) %> spots left</b>, <%= @project.registrations.find(:all, :conditions => { :reserve => true }).count %> are <a href="/projects/<%= @project.id %>/reserves">reserves</a>.
	    	<br><br>
	    	Observe that we will put you in as a reserve if the registration fee is not paid in time.
		</div>
	</div>
</div>

<div class="container container-faq">
	<div class="headline">
	    SNABBFAKTA
	</div>
	<div class="content">
	    <div class="box box-info-faq">
	    	dÅre <%= @project.year %> kostar 2200kr för sektionsmedlemmar och 2800 för övriga. I priset ingår resa till och från Åre, liftkort samt boende.
	    	<br><br>
	    	Avresa är på kvällen lördagen den 13e januari från KTH. Vi är tillbaka i Stockholm sent på torsdagskvällen. Mer info om detta kommer senare.
	    	<br><br>
	    	Boendeuppdelning sker senare under hösten. Alla resenärer kommer att få önska boende, och även mer info om detta kommer senare.
	    	<hr>
	    	dÅre <%= @project.year %> costs 2200 Swedish kronor for chapter members, 2800 for others. Included in this is travel, lodge, and a ski pass.
	    	<br><br>
	    	We leave Stockholm the night between January 14th and 15th, and we will be back in Stockholm late the same Thursday.
	    	<br><br>
	    	You will be divided into your respective lodges later this fall or winter. Everyone will be given the chance to request people to stay with. More info will be released at a later date.
		</div>
	</div>
</div>
</div>
