<%= form_for([@project, @registration]) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="field" style="margin-top: 20px;">
    <%= f.label "Förnamn" %>
    <%= f.text_field :firstname, :class => "input-large" %>
  </div>
  <div class="field">
    <%= f.label "Efternamn" %>
    <%= f.text_field :surname, :class => "input-large" %>
  </div>
  <div class="field">
    <%= f.label "E-mail" %>
    <%= f.text_field :email, :class => "input-large" %>
  </div>
  <div class="field">
    <%= f.label "Mobilnummer" %>
    <%= f.text_field :mobilephone, :class => "input-large" %>
  </div>
  <div class="field">
    <%= f.label "Årskurs" %>
    <%= f.text_field :grade, :class => "input-mini", :placeholder => "Ex D09" %>
  </div>
  <div class="field">
    <%= f.label "Adress" %>
    <%= f.text_field :address, :class => "input-large" %>
  </div>
  <div class="field">
    <%= f.label "Postnummer" %>
    <%= f.text_field :postalCode, :class => "input-small" %>
  </div>
  <div class="field">
    <%= f.label "Ort" %>
    <%= f.text_field :postArea, :class => "input-large" %>
  </div>
  <div class="field">
    <%= f.label "Kommentar" %>
    <%= f.text_field :comment, :class => "input-large", :placeholder => "Skriv något kul!" %>
  </div>
  <div class="actions">
    <%= f.submit "Anmäl!", :class => "btn", :style => "Position:relative; z-index: 2;" %>
  </div>
<% end %>
