<%= form_for([@project, @registration]) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div class="field" style="margin-top: 20px;">
    <%= f.text_field :firstname, :class => "input-large", :placeholder => "Förnamn" %>
  </div>
  <div class="field">
    <%= f.text_field :surname, :class => "input-large", :placeholder => "Efternamn" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :class => "input-large", :placeholder => "E-mail" %>
  </div>
  <div class="field">
    <%= f.text_field :mobilephone, :class => "input-large", :placeholder => "Mobiltelefon" %>
  </div>
  <div class="field">
    <%= f.text_field :grade, :class => "input-mini", :placeholder => "Årskurs" %>
  </div>
  <div class="field">
    <%= f.text_field :address, :class => "input-large", :placeholder => "Adress" %>
  </div>
  <div class="field">
    <%= f.text_field :postalCode, :class => "input-small", :placeholder => "Postnummer" %>
  </div>
  <div class="field">
    <%= f.text_field :postArea, :class => "input-large", :placeholder => "Ort" %>
  </div>
  <div class="field">
    <%= f.text_field :allergies , :class => "input-large", :placeholder => "Allergier" %>
  </div>
  <div class="field">
    <%= f.text_field :comment, :class => "input-large", :placeholder => "Kommentar" %>
  </div>
  <div class="field">
    <%= f.check_box :partey %> Afterskii?
  </div>
  <div class="actions">
    <%= f.submit "Anmäl!", :class => "btn" %>
  </div>
<% end %>
