<tr class="<%= table_row.hasPayedRegistration ? (table_row.hasPayedTotal ? 'success' : 'info') : 'error'  %>" id="<%= table_row.id %>">
    <td><%= table_row.firstname %></td>
    <td><%= table_row.surname %></td>
    <td><%= table_row.grade %></td>
    <td><a href="#" rel="tooltip" data-placement: "right" title="<%= table_row.comment %>"><%= truncate(table_row.comment, :length => 19, :omission => '...', :style => 'a:link{color: #000') %></a></td>
    <% if signed_in_administrator? %>
      <td><%= table_row.email %>
    <% end %>
</tr>
