<div class="container container-my-registration">
  <div class="headline" style="margin-right: 10px;">
      MIN ANMÄLAN
  </div>
  <div class="content">
    <% if @registration.reserve %>
      <p>
        Du står för närvarande i reservlistan.
      </p>
    <% end %>

    <div class="box some-box">
      <b><%= @registration.firstname %> <%= @registration.surname %></b>
    </div>
    <div class="box some-box">
      <b>Anmäld </b>
      <%= @registration.created_at %>
    </div>

    <div class="box some-box">
      <b>E-mail:</b>
      <%= @registration.email %>
    </div>
    <div class="box some-box">
      <b>Address:</b>
      <%= @registration.address %>
    </div>

    <div class="box some-box">
      <b>Mobiltelefon:</b>
      <%= @registration.mobilephone %>
    </div>
    <div class="box some-box">
      <b>Postnummer:</b>
      <%= @registration.postalCode %>
    </div>

    <div class="box some-box">
      <b>Årskurs:</b>
      <%= @registration.grade %>
    </div>
    <div class="box some-box">
      <b>Ort:</b>
      <%= @registration.postArea %>
    </div>
  </div>

  <div class="content">
    <div class="box comment-box">
      <b>Kommentar:</b>
      <%= @registration.comment %>
    </div>
    <div>
      <%= button_to 'Ändra anmälan', edit_project_registration_path(@project, @registration), :method => :get %>
      <%= button_to 'Ta bort anmälan', destroy_project_registration_path(@project, @registration), :method => :delete, :confirm => 'Vill du verligen ta bort anmälan?' %>
    </div>
    <div class="box some-box">
      <b>Betalningsinformation</b><br>
      Betalat anmälningsavgift? <b><%= @registration.hasPayedRegistration ? 'Ja' : 'Nej' %></b><br>
      Betalat resterande avgift? <b><%= @registration.hasPayedTotal ? 'Ja' : 'Nej' %></b>
    </div>
    <%= button_to 'Skicka betalningsmail', project_registration_payment_mail_path(@project, @registration), :method => :get if signed_in_administrator? %>
  </div>
</div>