<h1>Listing projects</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Spots</th>
    <th>Email</th>
    <th>Totalcost</th>
    <th>Registrationcost</th>
    <th>Lastpaymentdate</th>
    <th>Openregistration</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.year %></td>
    <td><%= project.spots %></td>
    <td><%= project.email %></td>
    <td><%= project.totalCost %></td>
    <td><%= project.registrationCost %></td>
    <td><%= project.lastPaymentDate %></td>
    <td><%= project.openRegistration %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
