<table class="table table-hover">
    <caption>Anmälda deltagare</caption>
    <thead class="head">
        <tr>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Grade</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody class="registrations">

        <% @registrations.each do |registration| %>
        <tr class="<%= registration.hasPayedRegistration ? 'success' : 'error'  %>">
            <td><%= registration.firstname %></td>
            <td><%= registration.surname %></td>
            <td><%= registration.email %></td>
            <td><%= registration.grade %></td>
            <td><%= registration.comment %></td>
        </tr>
        <% end %>

    </tbody>
</table>

<br />

<%= link_to 'New Registration', new_project_registration_path(@project) %>
