<p id="notice"><%= notice %></p>

<p>
  <b>Kth:</b>
  <%= @registration.kth_id %>
</p>

<p>
  <b>Project:</b>
  <%= @registration.project_id %>
</p>

<p>
  <b>Firstname:</b>
  <%= @registration.firstname %>
</p>

<p>
  <b>Surname:</b>
  <%= @registration.surname %>
</p>

<p>
  <b>Email:</b>
  <%= @registration.email %>
</p>

<p>
  <b>Mobilephone:</b>
  <%= @registration.mobilephone %>
</p>

<p>
  <b>Address:</b>
  <%= @registration.address %>
</p>

<p>
  <b>Postalcode:</b>
  <%= @registration.postalCode %>
</p>

<p>
  <b>Postarea:</b>
  <%= @registration.postArea %>
</p>

<p>
  <b>Grade:</b>
  <%= @registration.grade %>
</p>

<p>
  <b>Allergies:</b>
  <%= @registration.allergies %>
</p>

<p>
  <b>Comment:</b>
  <%= @registration.comment %>
</p>

<p>
  <b>Haspayedregistration:</b>
  <%= @registration.hasPayedRegistration %>
</p>

<p>
  <b>Haspayedtotal:</b>
  <%= @registration.hasPayedTotal %>
</p>

<p>
  <b>Partey:</b>
  <%= @registration.partey %>
</p>

<p>
  <b>Reserve:</b>
  <%= @registration.reserve %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
