<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Tack för din anmälan till dÅre <%= @project.year %>!</h1>
        <h2>A message in English will follow</h2>
        <p>
            För att slutföra anmälan måste anmälningsavgiften på 1000 kr ha inkommit till dÅre inom 7 dagar. Gör du inte detta kommer din plats att överlåtas till nästa person i reservlistan. Se därför till att betala så fort som möjligt för att behålla din plats. Resterande belopp ska betalas in senast <%= @project.lastPaymentDate %>. 
        </p>
        <p>
            Observera att vid avhopp återbetalas anmälningsavgiften ej. Resterande summa återbetalas om platsen kan ersättas med en annan resenär.
        </p>
        <p>
            Betalningsinformation <%= @attendee.firstname %> <%= @attendee.surname %><br>
            Bankgironummer: 380-7559<br>
            Meddelande: dare_<%= @attendee.id %><br>
            Belopp: 2900<br>
            Sista betalningsdag: <%= @project.lastPaymentDate %>
        </p>
        <p>
            Om du istället vill dela upp betalningen använder du istället följande meddelanden:<br>
            <b>Anmälningsavgiften</b><br>
            Meddelande: dare1_<%= @attendee.id %><br>
            Belopp: 1000<br>
            Sista betalningsdag: inom 7 dagar<br>
            <b>Resterande summa</b><br>
            Meddelande: dare2_<%= @attendee.id %><br>
            Belopp: 1900<br>
            Sista betalningsdag: <%= @project.lastPaymentDate %><br>

        </p>
        <p>
            Mer information om själva resan kommer att publiceras på hemsidan och mailas till dig när resan närmar sig. Titta gärna på vår hemsida www.dåre.se för att få den senaste informationen.
        </p>
        <hr>
        <h1>Thank you for registering to <%= @project.year %>!</h1>
        <p>
            To finalize your registration, the registration fee of 1000 Swedish kronor must have been paid within 7 days. If this is not followed, your spot will go to the next person on the reserves list. Make sure to pay as soon as possible to keep your spot. The remaining 1625 needs to be paid by <%= @project.lastPaymentDate %>.  
        </p>
        <p>
            The registration fee will not be refunded if you choose to forfeit your spot. The remaining 1625 is only refunded if your spot can be filled with another person.
        </p>
        <p>
           Payment information <%= @attendee.firstname %> <%= @attendee.surname %><br>
           <strong>If you do not have a Swedish bank account and Internet bank, this can be paid at any bank office.</strong><br>
            Bankgiro number: 380-7559<br>
            Message: dare_<%= @attendee.id %><br>
            Amount: 2625<br>
            Last day to pay: <%= @project.lastPaymentDate %>
        </p>
        <p>
            If you choose to divide the payment:<br>
            <b>Registration fee</b><br>
            Message: dare1_<%= @attendee.id %><br>
            Amount: 1000<br>
            Last day to pay: inom 7 dagar<br>
            <b>Remaining amount</b><br>
            Message: dare2_<%= @attendee.id %><br>
            Amount: 1900<br>
            Last day to pay: <%= @project.lastPaymentDate %><br>
        </p>
        <p>
            More information about the trip will be published at the website and sent via email as the trip is getting closer. Make sure you visit www.dåre.se (or dare.datasektionen.se) to take part in the latest information.
        </p>
        <p>
            Frågor? Hör av dig till dare@d.kth.se! <br>
            Questions? Email us at dare@d.kth.se!
        </p>
        <p>
            Med vänliga hälsningar/Kind regards<br>
            dÅrestaben <%= @project.year %>
        </p>
    </body>
</html>