<% provide(:title, 'All administrators') %>

<h1>All administrators</h1>

<ul class="users">
    <%= render @administrators %>
</ul>

<%= will_paginate %>

<%= form_tag('/administrators/mail_all', :method => 'post') do %>
	<%= text_area_tag 'message', nil, :rows => 15, :style => 'width: 400px;' %>
	<%= submit_tag 'Send' %>
<% end %>