<% provide(:title, 'Add administrator') %>
<h1>Add administrator</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@administrator) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :kth_id %>
      <%= f.text_field :kth_id %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit "Add administrator", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>